@{
    ViewBag.Title = "FinalDestinyRedirectPermanent";
}

<h2>FinalDestinyRedirectPermanent</h2>
<p>return RedirectPermanent("http://localhost:34108/Medium/FinalDestinyRedirectPermanent");</p>
Status 301 => 200