@{
    ViewBag.Title = "FinalDestiny";
}

<h2>FinalDestiny</h2>
<p></p>
<pre>RedirectToAction("FinalDestiny");
RedirectToActionPermanent("Destiny");

Redirect("teste.aspx");
RedirectPermanent("teste.aspx");

RedirectToDestiny();

RedirectToRoute(new { id = 55 });
RedirectToRoutePermanent(new { id = 56 });
</pre>

source: http://www.exceptionnotfound.net/asp-net-mvc-demystified-actionresults/